{{ define "main" }}
<div class="wrap">
  <article class="post">
    <h1 class="h1">{{ .Title }}</h1>
    {{ if eq .Section "posts" }}
    <p class="post-meta">
      <span class="num">{{ .Date.Format "2006년 1월 2일" }}</span>
      {{ if ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02") }}<span>수정 {{ .Lastmod.Format "1월 2일" }}</span>{{ end }}
      {{ with .Params.categories }}{{ range . }}<a href="{{ "categories/" | absURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}{{ end }}
      {{ with .Params.series }}{{ range . }}<a href="{{ "series/" | absURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}{{ end }}
    </p>
    {{ end }}
    <div class="post-content">{{ .Content }}</div>
  </article>
  {{ partial "reactions.html" . }}
</div>
{{ end }}
