{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "name": {{ .Site.Title }},
      "url": {{ .Site.BaseURL }},
      "description": {{ .Site.Params.description }},
      "inLanguage": "ko-KR"
    },
    {
      "@type": "Person",
      "name": {{ .Site.Params.author }},
      "url": {{ .Site.BaseURL }}{{ with .Site.Params.linkedin }},
      "sameAs": [{{ . }}]{{ end }}
    }
  ]
}
</script>
{{ else if and .IsPage (eq .Section "posts") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  "description": {{ or .Params.summary .Summary | plainify }},
  "url": {{ .Permalink }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }},
  "inLanguage": "ko-KR",
  "wordCount": {{ .WordCount }},
  "image": {{ "og.jpg" | absURL }},
  {{ with .Params.categories }}"articleSection": [{{ range $i, $c := . }}{{ if $i }}, {{ end }}{{ $c }}{{ end }}],
  {{ end }}{{ with .Params.series }}"isPartOf": {
    "@type": "CreativeWorkSeries",
    "name": {{ index . 0 }}
  },
  {{ end }}"mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink }}
  },
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }},
    "url": {{ .Site.BaseURL }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ .Site.Params.author }},
    "url": {{ .Site.BaseURL }}
  }
}
</script>
{{ end }}
