{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "name": {{ .Site.Title | jsonify }},
      "url": {{ .Site.BaseURL | jsonify }},
      "description": {{ .Site.Params.description | jsonify }},
      "inLanguage": "ko-KR"
    },
    {
      "@type": "Person",
      "name": {{ .Site.Params.author | jsonify }},
      "url": {{ .Site.BaseURL | jsonify }}{{ with .Site.Params.linkedin }},
      "sameAs": [{{ . | jsonify }}]{{ end }}
    }
  ]
}
</script>
{{ else if and .IsPage (eq .Section "posts") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ or .Params.summary .Summary | plainify | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02" | jsonify }},
  "inLanguage": "ko-KR",
  "mainEntityOfPage": {{ .Permalink | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  }
}
</script>
{{ end }}
